# General
# ------------------------------------------------------------------------------
IS_DEBUG=True

# Admin
ADMIN_ENABLED = True
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "5up3rP4sSw0rd"


# API Key
# ------------------------------------------------------------------------------
API_KEY="AlgunKeyCopada"

